{% block contenu %}
<!DOCTYPE html>
<html lang="fr">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Inscription</title>
    <!-- Custom fonts for this template-->
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

   <!-- Styles -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css" />
<!-- Or for RTL support -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.rtl.min.css" />

<!-- Scripts -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.0/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- jQuery easing -->


    <!-- Custom styles for this template-->
    <link href="..\public\start\css\sb-admin-2.min.css" rel="stylesheet">

 <style> 
 .my-checkbox-class {
    display: grid;
    grid-template-columns: 25px auto;
}
.my-checkbox-class label {
    vertical-align: middle;
}
.my-checkbox-class input[type="checkbox"]{
  max-width:50%;
  height:25px;
}
</style>

</head>
<body class="bg-gradient-primary">
{{ form_errors(registrationForm) }}
<div class="container">
  <div class="card o-hidden border-0 shadow-lg my-5 p-5">
    <div class="card-body p-0">
      <div class="row">
        <div>
              <div class="text-center">
              {{ form_start(registrationForm) }}
                <h1 class="h4 text-gray-900 mb-4">Finalisation de l'inscription</h1>
              </div>
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h4>Identité</h4>
            </div>
            <div class="card-body row">
              <div class="col-sm-6 ">
                  <div class="form-group">
                      {{ form_widget(registrationForm.nom, {'attr': {'class': 'form-control', 'placeholder': 'Nom'}}) }}
                  </div>
                  <div class="form-group">
                      {{ form_widget(registrationForm.utilisateurs.email, {'attr': {'class': 'form-control', 'placeholder': 'Email'}}) }}
                  </div>
                  <div class="form-group">
                      {{ form_widget(registrationForm.numTel, {'attr': {'class': 'form-control', 'placeholder': 'Téléphone'}}) }}
                  </div>
                  <div class="form-group">
                      {{ form_row(registrationForm.Ville, { 'attr': {'class': 'form-control form-control-user', 'placeholder': 'Ville'}}) }}
                  </div>
                  <div class="form-group row">
                      <div class="col-sm-4 mb-3">
                          Premier kabaret ?
                      </div>
                      <div class="col-sm-8 mb-3">
                          <div class="form-check form-check-inline align-self-center">
                              {{ form_widget(registrationForm.PremierKabaret.0, {'label': 'Oui', 'attr': {'class': 'form-check-input'}}) }}
                              {{ form_label(registrationForm.PremierKabaret.0) }}
                          </div>
                          <div class="form-check form-check-inline align-self-center">
                              {{ form_widget(registrationForm.PremierKabaret.1, {'label': 'Non', 'attr': {'class': 'form-check-input'}}) }}
                              {{ form_label(registrationForm.PremierKabaret.1) }}
                          </div>
                      </div>
                  </div>
                  <div class="form-group row">
                      <div class="col-sm-7 mb-3 d-flex align-items-center">
                          Avez vous besoin d'un logement ?
                      </div>
                      <div class="col-sm-5 mb-3" style="height: 2.5em;">
                          {{ form_widget(registrationForm.LogementId.besoin, { 'attr': {'class': 'form-control form-control-user '}}) }}
                      </div>
                  </div>
                  <div class="form-group">
                      {{ form_row(registrationForm.LogementId.descriptif, { 'attr': {'class': 'form-control'}}) }}
                  </div>
              </div>
              <div class="col-sm-6 ">
                  <div class="form-group">
                      {{ form_widget(registrationForm.prenom, {'attr': {'class': 'form-control', 'placeholder': 'Prénom'}}) }}
                  </div>
                  <div class="form-group">
                      {{ form_widget(registrationForm.utilisateurs.plainPassword, {'attr': {'class': 'form-control', 'placeholder': 'Mot de passe'}}) }}
                  </div>
                  <div class="form-group">
                      {{ form_widget(registrationForm.facebook, {'attr': {'class': 'form-control', 'placeholder': 'Nom d\'utilisateur Facebook'}}) }}
                  </div>
                  <div class="form-group">
                    {{ form_widget(registrationForm.Pays, {'attr': {'class': 'form-control', 'placeholder': 'Pays'}}) }}
                    </div>
                    <div class="form-group row">
                      <div class="col-sm-7 mb-3 d-flex align-items-center">
                          Avez vous du matos disponible ?
                      </div>
                      <div class="col-sm-5 mb-3" style="height: 2.5em;" >
                          <select id="matos" name="matos" required="required" class="form-control form-control-user ">
                          <option value="" selected="selected">--</option>
                          <option value="1">Oui</option>
                          <option value="0">Non</option>
                          </select>
                      </div>
                  </div>
                    <div class="form-group" id="matos-textarea" style="display: none;">
                    {{ form_row(registrationForm.MatosDispo, { 'attr': {'class': 'form-control form-control-user', 'placeholder': 'Décrivez ce que vous avez comme matériel'}}) }}
                    </div>
                  <div class="form-group">
                      {{ form_row(registrationForm.image, { 'attr': {'class': 'form-control form-control-user'},'label': 'Photo de vous reconnaissable'}) }}
                      <small>*Au format png ou jpg.</small>
                  </div>
                    <div class="form-group row d-flex align-items-center">
                      <div class="col-sm-7 mb-3">
                        {{ form_label(registrationForm.Permis)}}
                      </div>
                      <div class="col-sm-5 mb-3" style="height: 2.5em;">
                        {{ form_widget(registrationForm.Permis, {'attr': {'class': 'form-control'}}) }}
                      </div>
                    </div>
                    <div id="vehicule-container" style="display:none;">
                      <div class="form-group row d-flex align-items-center">
                        <div class="col-sm-7 mb-3" style="height: 2.5em;">
                          Avez vous une voiture ?
                        </div>
                        <div class="col-sm-5 mb-3" style="height: 2.5em;" >
                            <select id="voiture" name="voiture" required="required" class="form-control form-control-user ">
                              <option value="" selected="selected">--</option>
                              <option value="1">Oui</option>
                              <option value="0">Non</option>
                            </select>
                        </div>
                      </div>
                        <div id="vehicule-info" style="display:none;">
                          <div class="form-group row d-flex align-items-center">
                              <div class="col-sm-8 mb-3" style="height: 2.5em;">
                                Nombre de place de votre voiture :
                              </div>
                              <div class="col-sm-4 mb-3" style="height: 2.5em;">
                                {{ form_widget(registrationForm.Vehicule.places, {'attr': {'class': 'form-control'}}) }}
                              </div>
                          </div>
                        </div>
                        <div class="form-group row d-flex align-items-center">
                          <div class="col-sm-8 mb-3" style="height: 2.5em;">
                            Avez vous le permis depuis plus de 3ans ?
                          </div>
                          <div class="col-sm-4 mb-3" style="height: 2.5em;">
                            <div class="form-check form-check-inline align-self-center">
                              {{ form_widget(registrationForm.Vehicule.permis.0, {'label': 'Oui', 'attr': {'class': 'form-check-input'}}) }}
                              {{ form_label(registrationForm.Vehicule.permis.0) }}
                            </div>
                            <div class="form-check form-check-inline align-self-center">
                              {{ form_widget(registrationForm.Vehicule.permis.1, {'label': 'Non', 'attr': {'class': 'form-check-input'}}) }}
                              {{ form_label(registrationForm.Vehicule.permis.1) }}
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
      <div class="col-md-12 mt-3">
    <div class="card">
        <div class="card-header">
            <h4>Session</h4>
        </div>
        <div class="card-body row">
          <div class="col-sm-6 ">
            <div class="form-group">
                {{ form_row(registrationForm.Session.intitule) }}
            </div>
          </div>
          <div class="col-sm-6 ">
            <div class="form-group row align-items-center">
                <div class="col-sm-5">
                    {{ form_label(registrationForm.Session.porteurProjet) }}
                </div>
                <div class="col-sm-7">
                    {{ form_widget(registrationForm.Session.porteurProjet, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div id="porterProjet-container" style="display: none;">
                <div class="form-group row">
                    <div class="col-sm-5">
                        A quelles sessions ?
                    </div>
                    <div class="col-sm-7 align-self-center">
                        <div class="form-check form-check-inline">
                            {{ form_widget(registrationForm.Session2, {'label': 'Session 2', 'attr': {'class': 'form-check-input'}}) }}
                            {{ form_label(registrationForm.Session2) }}
                        </div>
                        <div class="form-check form-check-inline">
                            {{ form_widget(registrationForm.Session3, {'label': 'Session 3', 'attr': {'class': 'form-check-input'}}) }}
                            {{ form_label(registrationForm.Session3) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <small class="ml-3">*Si une session n'est plus accessible, c'est que celle-ci est déjà pleine !</small>
                </div>
            </div>
          </div>
        </div>
        </div>
      </div>

        <div class="col-md-12 mt-3">
          <div class="card">
            <div class="card-header">
              <h4>Compétences</h4>
            </div>
            <div class="card-body">
              <div class="form-group">
                  {{ form_row(registrationForm.Competences) }}
              </div>
              <div class="form-group">
                    {{ form_row(registrationForm.Essai) }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-3">
      </div>
        <div class="form-group row align-items-center">
          <div class="col-sm-12 mb-3 text-center">
              J'accepte les <a href="{{ path('accueil') }}" target="_blank">conditions générales</a>
            {{ form_widget(registrationForm.agreeTerm, {'label_attr': {'class': 'mb-0'}, 'attr': {'class': 'form-check-input ml-2'}}) }}
          </div>
        </div>
        <input type="submit" value="S'inscrire" action="{{ path('inscription')}}" class="btn btn-primary btn-user btn-block" />
          {{ form_end(registrationForm) }}
        <div class="text-center small"><hr>
          Vous avez un compte ? <a href="{{ path('connexion') }}">Connectez Vous</a>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
</body>

    <!-- Custom scripts for all pages-->

    <script src="{{ asset('https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js')}}"></script>

    <script type="text/javascript">
      $('.competences').select2({
    theme: "bootstrap-5",
    width: $( this ).data( 'width' ) ? $( this ).data( 'width' ) : $( this ).hasClass( 'w-100' ) ? '100%' : 'style',
    placeholder: "Choisir une ou plusieurs comptétences",
    multiple: true,
    closeOnSelect:false,
});

$('.essais').select2({
    placeholder: "Choisir une ou plusieurs comptétences que vous voulez essayer",
    theme: "bootstrap-5",
    width: $( this ).data( 'width' ) ? $( this ).data( 'width' ) : $( this ).hasClass( 'w-100' ) ? '100%' : 'style',
    multiple: true,
    closeOnSelect:false,
});


$(document).ready(function() {
    $("#matos").change(function() {
      if ($(this).val() == 0) {
        $("#matos-textarea").hide();
      } else {
        $("#matos-textarea").show();
      }
    });
  });

  $(document).ready(function() {
    $("#voiture").change(function() {
      if ($(this).val() == 0) {
        $("#vehicule-info").hide();
      } else {
        $("#vehicule-info").show();
      }
    });
  });

  $(document).ready(function() {
    $("#inscrit_Session_porteurProjet").change(function() {
      if ($(this).val() == 0) {
        $("#porterProjet-container").hide();
      } else {
        $("#porterProjet-container").show();
      }
    });
  });

  $(document).ready(function() {
    $("#inscrit_Permis").change(function() {
      if ($(this).val() == 0) {
        $("#vehicule-container").hide();
      } else {
        $("#vehicule-container").show();
      }
    });
  });

$(document).ready(function() {
  $("#inscrit_LogementId_besoin").change(function() {
    if ($(this).val() == "1") {
      $("#inscrit_LogementId_descriptif").attr("placeholder", "Decrivez vos besoins en logement");
    } else {
      $("#inscrit_LogementId_descriptif").attr("placeholder", "Peux tu heberger, combien ? ou habites tu...");
    }
  });
});



  </script>

    <!-- Bootstrap core JavaScript-->
    <script src="{{ asset('start/vendor/jquery/jquery.min.js') }}"></script>
    <!-- Core plugin JavaScript-->
    <script src="{{ asset('start/vendor/jquery-easing/jquery.easing.min.js') }}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{{ asset('start/js/sb-admin-2.min.js') }}"></script>

    <!-- Page level plugins -->
    <script src="{{ asset('start/vendor/chart.js/Chart.min.js') }}"></script>

    <!-- Page level custom scripts -->
    <script src="{{ asset('start/js/demo/chart-area-demo.js') }}"></script>
    <script src="{{ asset('start/js/demo/chart-pie-demo.js') }}"></script>
    <script src="{{asset('https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js')}}"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" ></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>
{% endblock %}