{% extends 'base.html.twig' %}
{% block title %}Liste du Matériel{% endblock %}
{% block contenu %}
    <h5>LISTE DU MATERIEL</h5><br>

    <div class="input-group">
        <div class="form-outline">
            <input type="search" id="searchInput" class="form-control" />
        </div>&nbsp;
        <button type="button" class="btn btn-primary">
            <i class="fas fa-search"></i>
        </button>&nbsp;

        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('materielAjouter') }}" class="btn btn-primary">Nouveau Matériel</a>
        {% endif %}
    </div>

    {% set resultsFound = false %} {# Initialisation de la variable resultsFound en dehors de la boucle #}

    {% for category, materiels in categorieMateriels %}
        <br><h5 class="category" data-category="{{ category }}">{{ category }}</h5>
        <div class="row">
            {% for e in materiels %}
                {% set title = e.intitule|lower %}
                {% set description = e.description|lower %}
                {% if searchQuery is empty or title matches '/^.*'~searchQuery~'.*$/i' or description matches '/^.*'~searchQuery~'.*$/i' %}
                    {% set resultsFound = true %}
                    <div class="col-md-4 card-container" id="{{ e.id }}">  {# Conteneur de la carte de matériel #}
                        <div class="card mt-4" style="height:90%;">  {# Carte de matériel #}
                            <div class="card-body">
                                <h5 class="card-title">{{ e.intitule }}</h5>  {# Titre du matériel #}
                                {% if e.description != '' %}
                                    <div class="card-text">
                                        {{ e.description[:60] }}...  {# Description abrégée du matériel #}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="card-footer">
                                <a href="{{ path('materielConsulter', { 'id': e.id }) }}">  {# Lien vers la page de consultation du matériel #}
                                    <button type="button" class="btn btn-primary">
                                        Voir plus  {# Bouton pour voir plus de détails du matériel #}
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}

    {% if not resultsFound %}
        <div class="alert alert-warning" role="alert">
            Aucun résultat trouvé pour la recherche "{{ searchQuery }}". Veuillez réessayer avec une autre recherche.
        </div>
    {% endif %}
    
    <script>
        document.getElementById("searchInput").addEventListener("keyup", function(){
            filterResults();
        });
    
        function filterResults() {
            var input = document.getElementById("searchInput").value.toLowerCase();
            var cards = document.getElementsByClassName("col-md-4 card-container");
            var resultsFound = false;
            for (var i = 0; i < cards.length; i++) {
                var card = cards[i].querySelector(".card");
                var title = card.getElementsByClassName("card-title")[0].innerHTML.toLowerCase();
                var description = card.getElementsByClassName("card-text")[0].innerHTML.toLowerCase();
                
                if (title.indexOf(input) > -1 || description.indexOf(input) > -1) {
                    card.style.display = "block";
                    cards[i].style.display = "block";
                    resultsFound = true;
                } else {
                    card.style.display = "none";
                    cards[i].style.display = "none";
                }
            }
            
            if (!resultsFound) {
                document.getElementsByClassName("alert")[0].style.display = "block";
            } else {
                document.getElementsByClassName("alert")[0].style.display = "none";
            }
        }
    </script>
    
{% endblock %}
