{% extends 'base.html.twig' %}

{% block title %}Profil {{ inscrit.prenom }} {{inscrit.nom|upper}} {% endblock %}
{% block style %}
.pdf-logo {
    width: 30px;
    height: 30px;
}
{% endblock %}
{% block contenu %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h2 class="mb-4">{{ inscrit.prenom }} {{inscrit.nom|upper}}</h2>
            <div class="card mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <p class="card-title font-weight-bold">Email</p>
                        </div>
                        <div class="col-md-8">
                            <p class="card-text">{{inscrit.utilisateurs.email}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <p class="card-title font-weight-bold">Numéro de téléphone</p>
                        </div>
                        <div class="col-md-8">
                            <p class="card-text">{{ "0" ~ inscrit.numTel }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <p class="card-title font-weight-bold">Permis</p>
                        </div>
                        <div class="col-md-8">
                            <p class="card-text">{% if inscrit.permis == 1 %}Oui{% if inscrit.vehicule != null %}, depuis moins de 3 ans {% else %}, depuis plus de 3ans {% endif %} {% else %} Non {% endif %}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <p class="card-title font-weight-bold">Voiture</p>
                        </div>
                        <div class="col-md-8">
                            <p class="card-text">{% if inscrit.vehicule != null %}{{inscrit.vehicule.places}} places {% else %} Pas de voiture {% endif %}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <p class="card-title font-weight-bold">Session</p>
                            <div class="row">
                                <div class="col-md-12">
                                    {% for s in inscrit.Session %}
                                        <p class="card-text">{{s.intitule}}</p>
                                    {% else %}
                                        <p class="card-text">Pas de session enregistré</p>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <p class="card-title font-weight-bold">Compétences</p>
                            <div class="row">
                                <div class="col-md-12">
                                    {% for c in inscrit.Competences %}
                                        <p class="card-text">{{c.intitule}}</p>
                                    {% else %}
                                        <p class="card-text">Pas de compétences entrée</p>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <img src='{{asset('images/' ~ inscrit.image) }}' alt="image de profil" class="img-fluid rounded">
        </div>
        {% if is_granted('ROLE_ADMIN') %}
        <div class="row my-3">
            <div class="col-md-4">
                <a href="{{path('modifierInscrit', {'id': inscrit.id})}}" class="btn btn-warning">Modifier</a>
            </div>
            <div class="col-md-4">
                <a href="{{path('supprimerInscrit', {'id': inscrit.id})}}" class="btn btn-danger">Supprimer</a>
            </div>
            <div class="col-md-4">&nbsp;
                <a href="{{path('telechargerInscritPdf', {'id': inscrit.id})}}" class="">
                    <img src='{{asset('images/pdf-logo.png')}}' class="pdf-logo">
                </a>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}