{% extends 'base.html.twig' %}
{% block title %}Liste des inscrits {% endblock %}
{% block contenu %}
<form>
    <input type="text" id="searchInput" onkeyup="searchFunction()" placeholder="Rechercher par nom, prénom ou numéro de téléphone" class="form-control col-md-3">
</form>
<table class="table table-hover table-striped" id="inscritsTable">
    <thead>
            <tr>
                <th>Particpant</th>
                <th>Email</th>
                <th>Téléphone</th>
            </tr>
        </thead>
        <tbody>
            {% for i in inscrits %}
                <tr>
                    <td><a href="{{ path('consulterInscrit', { 'id': i.id }) }}">{{i.prenom}} {{i.nom | upper }}</td></a>
                    <td>{{i.utilisateurs.email}}</td>
                    <td>{{ "0" ~ i.numTel }}</td>
                    <td>
                        {% if is_granted ('ROLE_ADMIN') %}
                          <!-- Ce bouton permet de rediriger l'utilisateur vers la page de suppression d'un emprunt -->
                          <a href="{{ path('inscritSupprimer',{ 'id': i.id}) }}" class="btn btn-sm btn-danger" onclick="return confirm('Êtes-vous sur de vouloir supprimer cet Inscrit ?')">Supprimer</a>
                        {% endif %}
                        <!-- Fin de la condition qui vérifie si l'utilisateur actuel a le rôle d'administrateur -->
                      </td>
                </tr>
            {% endfor %}
        </tbody>
</table>
<script>
    function searchFunction() {
      // Déclaration de variables
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("searchInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("inscritsTable");
      tr = table.getElementsByTagName("tr");

      // Boucle à travers toutes les lignes
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td");
        for (var j = 0; j < td.length; j++) {
            if (td) {
                txtValue = td[j].textContent || td[j].innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                    break;
                } else {
                    tr[i].style.display = "none";
                }
            }       
        }
      }
    }
</script>

{% endblock %}
