<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Fiche de l'inscrit</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="img-fluid" src='{{ '../public /images/' ~ inscrit.image }}' alt="image de profil">
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">{{ inscrit.prenom }} {{inscrit.nom|upper}}</h2>
                    <div class="row">
                        <div class="col-md-4">
                            <p class="card-title">Poste :</p>
                        </div>
                        <div class="col-md-8">
                            <p class="card-text">{{inscrit.poste}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <p class="card-title">Email :</p>
                        </div>
                        <div class="col-md-8">
                            <p class="card-text">{{inscrit.utilisateurs.email}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <p class="card-title">Numéro de téléphone :</p>
                        </div>
                        <div class="col-md-8">
                            <p class="card-text">{{inscrit.numTel}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <p class="card-title">Talent :</p>
                        </div>
                        <div class="col-md-8">
                            <p class="card-text">{{inscrit.talent}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <p class="card-title">Chose à dire en plus :</p>
                        </div>
                        <div class="col-md-8">
                            <p class="card-text">{{inscrit.choseplus}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <p class="card-title">Métiers :</p>
                        </div>
                        <div class="col-md-8">
                            <ul>
                            {% for m in inscrit.metier %}
                                <li>{{m.nom}}</li>
                            {% else %}
                                <li>Pas de métier défini</li>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>