{% extends 'base.html.twig' %}
{% block contenu %}   
    <div>
        <h5>CONSULTATION DE L'EMPRUNT</h5>
        <p>
            <table >
                <tr>
                    <td>Utilisateur : {{ emprunt.inscrit.nom }}, {{ emprunt.inscrit.prenom }}&nbsp;&nbsp;</td>
                </tr>
                <tr>
                    <td>Date de début : {{ emprunt.dateDebut|date('d/m/Y H:i') }}&nbsp;&nbsp;</td>
                </tr>
                <tr>
                    <td>Date de fin : {{ emprunt.dateFin|date('d/m/Y H:i') }}&nbsp;&nbsp;</td>
                </tr>
                <tr>
                    <td>Matériel : {{ emprunt.materiel.intitule }}</td>
                </tr>
            </table></br>
            <a href="{{ path('empruntLister') }}"><button class="btn btn-primary">Fermer</button></a>&nbsp;&nbsp;
            {% if is_granted ('ROLE_ADMIN') %}
            <a href="{{ path('empruntModifier',{ 'id': emprunt.id }) }}">
                <button type="button" class="btn btn-warning">Modifier</button>
            </a>
            <a href="{{ path('empruntSupprimer', { 'id': emprunt.id }) }}">
                <button type="button" class="btn btn-danger">Supprimer</button>
            </a>
            {% endif %}
        </p>
    </div>
{% endblock %}
