{% extends 'base.html.twig' %}
{% block contenu %}   
    <div>
        <h5>PAGE DE CONSULTATION D'UN EMPRUNT</h5>
        <p>
            <table >
                <tr>
                    <td>Utilisateur : {{ emprunt.inscrit.nom }}, {{ emprunt.inscrit.prenom }}&nbsp;&nbsp;</td>
                </tr>
                <tr>
                    <td>Date de début : {{ emprunt.dateDebut|date('d/m/Y H:i') }}&nbsp;&nbsp;</td>
                </tr>
                <tr>
                    <td>Date de fin : {{ emprunt.dateFin|date('d/m/Y H:i') }}&nbsp;&nbsp;</td>
                </tr>
                <tr>
                    <td>Matériel : {{ emprunt.materiel.intitule }}</td>
                </tr>
            </table>
            <br>
            <a href="{{ path('empruntLister') }}"><button class="btn btn-primary">Fermer</button></a>
        </p>
    </div>
{% endblock %}
