{% extends 'base.html.twig' %}

{% block title %}Benevole{% endblock %}

{% block contenu %}
    <h1>Benevole</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ benevole.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ benevole.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ benevole.prenom }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ benevole.email }}</td>
            </tr>
            <tr>
                <th>Tel</th>
                <td>{{ benevole.tel }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('app_benevole_index') }}">Retour a la liste</a>

    <a class="btn btn-warning" href="{{ path('app_benevole_edit', {'id': benevole.id}) }}">edit</a>

    {{ include('benevole/_delete_form.html.twig') }}
{% endblock %}
